.hubmurger {
  display: none; }

.ab {
  display: block;
  text-align: center; }

.quicle {
  margin-top: 32px; }

.mobile {
  padding-bottom: 80px;
  min-height: 864px;
  width: 100%;
  background: url("../pictures/back_mobile.png");
  padding-top: 48px; }
  .mobile .main_text {
    margin-top: 38px;
    text-align: center;
    color: #222222;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase; }
  .mobile .general {
    width: 320px;
    height: 280px;
    position: relative; }
    .mobile .general .main {
      text-align: center;
      color: #ffffff;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase; }
  .mobile .quicle .picture {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 219px; }
  .mobile .first {
    background: url("../pictures/first.png");
    padding-top: 92px; }
  .mobile .second {
    padding-top: 92px;
    background: url("../pictures/second.png"); }
  .mobile .some {
    padding-top: 92px;
    background: url("../pictures/thirst.png"); }
  .mobile .under_main {
    margin-top: 19px;
    color: #222222;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    text-align: center; }
  .mobile .forth {
    padding-top: 92px;
    background: url("../pictures/forth.png"); }
  .mobile .fiveth {
    padding-top: 92px;
    background: url("../pictures/fiveth.png"); }
  .mobile .sixth {
    padding-top: 92px;
    background: url("../pictures/sixth.png"); }

.less {
  margin-top: 19px; }

.car1 {
  padding-top: 57px;
  min-height: 499px;
  background: url("../pictures/car_back.png");
  position: relative; }
  .car1 .abiliti {
    text-align: center; }
  .car1 .main {
    color: #ffffff;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 32px; }
  .car1 .under_main {
    text-align: center;
    margin-top: 19px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400; }
  .car1 .super_car {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    top: 231px; }

.car2 {
  min-height: 397px;
  padding-top: 217px;
  width: 100%;
  background: url("../pictures/some_back.png"); }
  .car2 .under_car {
    text-align: center;
    color: #222222;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300; }

.main_menu {
  min-height: 919px;
  padding-top: 68px 0px 84px 0px; }
  .main_menu .ab {
    text-align: center;
    margin-top: 68px; }
  .main_menu .focus {
    color: #222222;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 33px; }
  .main_menu .say {
    margin-top: 33px; }
    .main_menu .say .list_style {
      margin-left: 45px; }
      .main_menu .say .list_style li:before {
        content: '';
        display: block;
        height: 21px;
        width: 21px;
        background: url("../pictures/yes.png");
        position: absolute;
        margin-left: -30px;
        margin-top: .5%; }
      .main_menu .say .list_style li {
        color: #222222;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 300;
        margin-top: 13px; }
    .main_menu .say .title {
      color: #1ca8c3;
      font-family: "Roboto - Regular";
      font-size: 22px;
      font-weight: 400; }
    .main_menu .say .descr {
      color: #1ca8c3;
      font-family: "Roboto Light";
      font-weight: 300; }
  .main_menu .dontsay {
    margin-top: 62px; }
    .main_menu .dontsay .list_style {
      margin-left: 45px;
      margin-top: 22px; }
      .main_menu .dontsay .list_style li:before {
        content: '';
        display: block;
        height: 21px;
        width: 21px;
        background: url("../pictures/yes_red.png");
        position: absolute;
        margin-left: -30px;
        margin-top: .5%; }
      .main_menu .dontsay .list_style li {
        color: #222222;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 300;
        margin-top: 13px; }
    .main_menu .dontsay .title {
      color: #ff5656;
      font-family: "Roboto - Regular";
      font-size: 22px;
      font-weight: 400; }
    .main_menu .dontsay .descr {
      color: #1ca8c3;
      font-family: "Roboto Light";
      font-weight: 300; }

.last {
  min-height: 717px;
  padding: 49px 0px 49px 0px;
  width: 100%;
  background: url("../pictures/back_mode.png"); }
  .last .cites {
    text-align: center; }
  .last .title {
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 32px; }
  .last .under_title {
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px; }
  .last .almost_undr {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 486px;
    text-decoration: none; }
    .last .almost_undr a {
      color: #1fbad6; }

footer {
  min-height: 148px;
  padding-top: 14px;
  padding-bottom: 31px;
  position: relative; }
  footer .under_footer {
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 14px; }
  footer .menu ul {
    margin-top: 34px;
    width: 370px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; }
    footer .menu ul a {
      color: #070716;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase; }
  footer .under_menu ul {
    margin-top: 15px;
    width: 406px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; }
    footer .under_menu ul a {
      color: #999999;
      font-family: Roboto;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase; }
  footer .russia {
    margin-top: 19px;
    text-align: center;
    color: #1fbad6;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase; }
  footer .social {
    display: inline-block;
    position: absolute;
    top: 51px;
    left: 23px; }
    footer .social .under_social {
      margin-top: 51px;
      width: 157px;
      display: flex;
      justify-content: space-between;
      margin-left: 23px; }
      footer .social .under_social a {
        width: 32px;
        height: 32px;
        background: black;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        footer .social .under_social a i {
          color: #ffffff; }
  footer .second_social {
    display: inline-block;
    position: absolute;
    top: 51px;
    right: 23px; }
    footer .second_social .under_social {
      margin-top: 51px;
      margin-right: 23px;
      display: flex;
      justify-content: space-between;
      width: 320px; }
      footer .second_social .under_social a {
        display: flex;
        width: 100px;
        height: 30px;
        background: black;
        border-radius: 5px;
        padding-left: 5px;
        align-items: center;
        position: relative; }
        footer .second_social .under_social a i {
          color: white;
          font-size: 22px; }
        footer .second_social .under_social a .title {
          text-align: center;
          color: white;
          font-size: 8px;
          top: 2px;
          left: 30px;
          position: absolute; }
        footer .second_social .under_social a:hover {
          text-decoration: none; }
        footer .second_social .under_social a .under_title {
          position: absolute;
          color: white;
          top: 14px;
          left: 30px;
          font-size: 10px; }
        footer .second_social .under_social a:hover * {
          color: #1fbad6; }
        footer .second_social .under_social a:hover i {
          color: red; }

.under_footer {
  width: 100%;
  height: 8px;
  background-color: #070716; }

.try {
  display: flex;
  align-items: center; }
  .try img {
    margin-right: 10px; }
  .try .text_with_picture {
    width: 342px; }

@media screen and (max-width: 1200px) {
  footer .second_social .under_social {
    width: 220px;
    margin-top: 90px;
    margin-right: 10px; }
    footer .second_social .under_social a {
      width: 70px; }
      footer .second_social .under_social a i {
        font-size: 18px; }
      footer .second_social .under_social a .title {
        font-size: 6px;
        left: 22px; }
      footer .second_social .under_social a .under_title {
        font-size: 6px;
        left: 24px; }
  footer .social .under_social {
    margin-top: 100px;
    width: 100px; }
    footer .social .under_social a {
      width: 20px;
      height: 20px; }
      footer .social .under_social a i {
        font-size: 10px; }

  section.mobile .main_text {
    font-size: 30px; }
  section.mobile .under_main {
    font-size: 15px; }
  section.mobile .general {
    width: 300px;
    height: 260px; }
    section.mobile .general .main {
      font-size: 20px; } }
@media screen and (max-width: 992px) {
  footer .second_social .under_social {
    width: 220px;
    margin-top: 90px;
    margin-right: 10px; }
    footer .second_social .under_social a {
      width: 70px; }
      footer .second_social .under_social a i {
        font-size: 18px; }
      footer .second_social .under_social a .title {
        font-size: 6px;
        left: 22px; }
      footer .second_social .under_social a .under_title {
        font-size: 6px;
        left: 24px; }

  ul.menu a {
    font-size: 13px; }
  ul.menu li {
    padding-right: 14px; }

  .under_header .some_text {
    font-size: 28px; }
  .under_header .picture_send img {
    width: 240px;
    height: 50px; }

  .try {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
    .try .text_with_picture {
      font-size: 12px; }
    .try img {
      width: 80px;
      height: 80px; }

  .joke {
    display: flex;
    justify-content: space-between; }

  section.mobile .main_text {
    font-size: 30px; }
  section.mobile .under_main {
    font-size: 15px; }
  section.mobile .general {
    width: 220px;
    height: 260px; }
    section.mobile .general .main {
      font-size: 18px; }

  section.thirst .night {
    font-size: 22px; }

  section.car1 .main {
    font-size: 28px; }
  section.car1 .under_main {
    font-size: 12px; }

  section.car2 .under_main {
    font-size: 12px; }

  section.main_menu .focus {
    font-size: 30px; }
  section.main_menu .say .title, section.main_menu .dontsay .title {
    font-size: 18px; }
  section.main_menu .say .list_style li, section.main_menu .dontsay .list_style li {
    font-size: 13px; } }
@media screen and (max-width: 992px) and (min-width: 992px) {
  section.mobile .main_text {
    font-size: 30px; }
  section.mobile .under_main {
    font-size: 15px; }
  section.mobile .general {
    width: 300px;
    height: 260px; }
    section.mobile .general .main {
      font-size: 18px; }

  ul.menu a {
    font-size: 15px; }
  ul.menu li {
    padding-right: 20px; } }
@media screen and (max-width: 768px) {
  .some {
    display: none; }

  .car1 .super_car {
    width: 100%; }
    .car1 .super_car img {
      max-width: 100%; }

  header {
    position: relative;
    padding-top: 0px; }
    header .hubmurger, header .some {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px; }
      header .hubmurger span, header .some span {
        margin-top: 3px;
        display: block;
        height: 2px;
        width: 25px;
        background: #fff; }
    header .some span {
      margin-bottom: 3px; }
      header .some span:nth-child(1) {
        transform: rotate(-45deg); }
      header .some span:nth-child(2) {
        display: none; }
      header .some span:nth-child(3) {
        transform: rotate(45deg); }
    header .menu {
      position: fixed;
      flex-direction: column;
      justify-content: center;
      background: black;
      text-align: center;
      width: 40%;
      left: -1000px;
      height: 110vh; }
      header .menu li {
        border-top: 4px solid white;
        padding-left: 0px;
        margin-top: 30px; }
        header .menu li a {
          display: block;
          width: 100%;
          text-align: center;
          color: white;
          font-size: 16px; }
        header .menu li:last-child {
          border-top: 4px solid white; }
        header .menu li:first-child {
          border: none; }
    header.brother .menu {
      transition: all .5s;
      left: 0px; }

  section.under_header .opacity .turnon img {
    display: block;
    position: absolute;
    top: -40px;
    left: 60%; }
  section.under_header .some_text {
    font-size: 36px;
    margin-top: 21px; }
  section.under_header .under_some_text {
    display: none; }
  section.under_header .picture_send {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%); }

  section.thirst .night {
    font-size: 22px; }
  section.thirst .try {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 12px; }
    section.thirst .try .text_with_picture {
      font-size: 10px;
      margin-top: 2px; }

  section.mobile .main_text {
    font-size: 22px; }
  section.mobile .general {
    width: 220px;
    height: 240px;
    margin-left: 50%;
    transform: translateX(-50%); }
    section.mobile .general .main {
      font-size: 16px; }
  section.mobile .quicle .picture {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 180px; }

  section.car1 .main {
    font-size: 20px; }
  section.car1 .under_main {
    font-size: 12px; }

  section.main_menu .focus {
    font-size: 22px; }
  section.main_menu .say .list_style
  li, section.main_menu .dontsay .list_style
  li {
    font-size: 11px; }

  footer {
    min-height: 300px; }
    footer .menu ul {
      margin-top: 12px;
      width: 310px;
      margin-left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between; }
      footer .menu ul a {
        font-size: 13px; }
    footer .under_menu ul {
      margin-top: 1px;
      width: 400px;
      margin-left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between; }
      footer .under_menu ul a {
        font-size: 13px; }
    footer .second_social {
      display: inline-block;
      position: absolute;
      top: 120px;
      left: 48%;
      transform: translateX(-50%); }
      footer .second_social .under_social {
        width: 320px;
        margin-top: 90px;
        margin-right: 10px; }
        footer .second_social .under_social a {
          width: 100px; }
          footer .second_social .under_social a i {
            font-size: 22px; }
          footer .second_social .under_social a .title {
            font-size: 10px;
            left: 26px;
            top: 2px; }
          footer .second_social .under_social a .under_title {
            font-size: 8px;
            left: 30px;
            top: 16px; }
    footer .social {
      display: inline-block;
      position: absolute;
      top: 51px;
      left: 48%;
      transform: translateX(-50%); }
      footer .social .under_social {
        margin-top: 100px;
        width: 200px;
        left: 0px; }
        footer .social .under_social a {
          width: 40px;
          height: 40px; }
          footer .social .under_social a i {
            font-size: 18px; } }

/*# sourceMappingURL=style.css.map */
